<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<meta name="viewport" content="width=750, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../css/main.css" />
	</head>
	<body ng-controller="myController">
		<div class="continuebox">
			<div></div>
			<p>厨房已开始制作，请耐心等候</p>
			<button>继续点菜</button>
		</div>
		
		
		<script type="text/javascript" src="../js/angular.min.js" ></script>
		<script type="text/javascript" src="../js/continue.js" ></script>
	</body>
</html>
